body{
    /* background-color: red; */
    background: url(./bg.jpg);
}

.main-container{
    margin-top: 3%;
    margin-left: 100px;
    margin-right:100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* background-color: aqua;   */
}

.heading{
    text-align: center;
    font-size: 70px;
    color: red;
    font-weight: bolder;
}

.div-border{
    border: solid 4px yellowgreen;
    border-radius: 30px;
    position: sticky;
    top: 5px;
}

.img-styling{
    margin-top: 10px;
}

.message{
    border: solid 4px yellowgreen;
    border-radius: 30px;
    background-color: aliceblue;
    color: red;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.know-more{
    margin-top: 5px;
    font-size: 24px;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    /* border: dashed 1px yellow; */
}

.footer{
    margin-top: 10px;
    display: flex;
    background-color: aqua;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    border-radius: 10px;
    font-weight: bolder;
}